.section-about-hero {
  background-color: #f0f5fa;
  padding: 4.8rem 9.6rem;
}

.section-founding,
.section-vmk {
  padding: 0 9.6rem;
}

.sticky .section-founding {
  margin-top: 5.4rem;
}

.about-hero {
  max-width: 130rem;

  margin: 0 auto;
  padding: 0 3.2rem;

  align-items: center;
  column-gap: 4rem;
}

.about-img {
  width: 100%;
  border-radius: 20%;
}

.about-header-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.6rem;
  grid-column: 1 / -1;
}

.hero-quote-text {
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 400;

  border-radius: 20px;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #dbe8f3;
  padding: 2.4rem;
}

.bold-text {
  font-weight: 700;
}

.about-founding-box {
  padding: 2.4rem 9.6rem;
  border: solid 2.4px #013f78;
  border-radius: 16px;

  margin: 2.4rem auto;
}

.about-us-2 {
  align-self: start;
}

.about-values {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 2.4rem;
}

.core-value {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}

.values {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.2rem;
  border: #013f78 solid 2px;
  background-color: #ebf2f8;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 16px;
  padding: 1.6rem 1.6rem 1.6rem 0;
}
.value-icon-box {
  grid-row: 1 / -3;
  justify-self: center;
  align-self: center;
  padding: 1.2rem;
}
.value-icon {
  font-size: 3.6rem;

  color: #013f78;
  background-color: #ccdeee;
  padding: 1.6rem;
  border-radius: 100%;
}

.value-header {
  font-size: 2rem;
  font-weight: 600;

  color: #333;
}

.value-text {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: 0;
}

.section-vmk {
  padding: 1.2rem 9.6rem;
}

.vm {
  background-color: #fcfdfe;
  padding: 2.4rem 4.8rem;
  border-radius: 16px;
}
.about-values {
  background-color: #fcfdfe;
  padding: 2.4rem 4.8rem;
  border-radius: 16px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto auto 1fr;
  margin-top: 2.4rem;
  gap: 8rem;
}

.value-header-box {
  display: grid;
  grid-template-columns: 1fr auto;
}

.value-header-text-box {
  align-self: center;
}

.pricing-title-icons {
  align-self: center;

  font-size: 3rem;

  color: #013f78;
  justify-self: end;
}

.hidden {
  display: none;
}
/* queries */

@media (max-width: 60em) {
  .section-about-hero,
  .section-founding,
  .section-vmk {
    padding: 0 4.8rem;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-top: 2.4rem;
    gap: 2.4rem;
  }

  .vm {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .about-values {
    grid-row: 4 / -1;
    grid-column: 1 / 2;
  }

  .about-heading-box {
    grid-column: 1 / 2;
  }

  .about-heading-box-2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media (max-width: 40em) {
  .section-about-hero,
  .section-founding,
  .section-vmk {
    padding: 0 0.6rem 1.2rem 0.6rem;
  }

  .about-header-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .about-img-box {
    grid-column: 1 / 3;
  }

  .about-us-1 {
    grid-column: 3 / -1;
  }

  .about-founding-box,
  .vm,
  .about-values {
    padding: 1.2rem 4.8rem;
  }

  .margin-bottom-sm {
    margin-bottom: 1.2rem;
  }

  .about-grid {
    gap: 1.2rem;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .about-header-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0;
    row-gap: 2.4rem;
  }

  .about-img-box {
    grid-row: 1 / 2;
    width: 80%;
    justify-self: center;
  }
}
/**************************/
/* BELOW 445PX (Phones) */
/**************************/
@media (max-width: 28em) {
  .about-img-box {
    width: 80%;
  }

  .about-founding-box,
  .vm,
  .about-values {
    padding: 0.6rem 1.2rem;
  }

  .about-values {
    gap: 0;
  }
}
